body {
	
	color: rgba(50, 50, 50, 1);
	font-family: Helvetica, sans-serif;
	font-size: 17px;
	text-align: center;

	background-color: #a5a8cc;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%23a5a8cc' width='11' height='11'/%3E%3Crect fill='%23a6a9cd' x='10' width='11' height='11'/%3E%3Crect fill='%23a7aacd' y='10' width='11' height='11'/%3E%3Crect fill='%23a9abce' x='20' width='11' height='11'/%3E%3Crect fill='%23aaadce' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%23abaecf' y='20' width='11' height='11'/%3E%3Crect fill='%23acafcf' x='30' width='11' height='11'/%3E%3Crect fill='%23aeb0d0' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%23afb1d1' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%23b0b2d1' y='30' width='11' height='11'/%3E%3Crect fill='%23b1b4d2' x='40' width='11' height='11'/%3E%3Crect fill='%23b3b5d2' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%23b4b6d3' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%23b5b7d4' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%23b6b8d4' y='40' width='11' height='11'/%3E%3Crect fill='%23b8b9d5' x='50' width='11' height='11'/%3E%3Crect fill='%23b9bbd5' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%23babcd6' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%23bbbdd6' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%23bdbed7' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%23bebfd8' y='50' width='11' height='11'/%3E%3Crect fill='%23bfc0d8' x='60' width='11' height='11'/%3E%3Crect fill='%23c0c2d9' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%23c1c3d9' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%23c3c4da' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%23c4c5da' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%23c5c6db' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%23c6c7dc' x='70' width='11' height='11'/%3E%3Crect fill='%23c8c9dc' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%23c9cadd' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%23cacbdd' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%23cbccde' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%23cdcdde' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%23cecfdf' x='80' width='11' height='11'/%3E%3Crect fill='%23cfd0e0' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%23d0d1e0' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%23d2d2e1' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%23d3d3e1' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%23d4d5e2' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%23d5d6e3' x='90' width='11' height='11'/%3E%3Crect fill='%23d6d7e3' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%23d8d8e4' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%23d9d9e4' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%23dadbe5' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%23dbdce5' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%23dddde6' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%23dedee7' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%23dfdfe7' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%23e0e1e8' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%23e2e2e8' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%23e3e3e9' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%23e4e4e9' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%23e5e5ea' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%23e7e7eb' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%23e8e8eb' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%23e9e9ec' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%23eaeaec' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%23ececed' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%23ededed' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%23eeeeee' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
}

a {
	text-decoration: none;
	color: #a5a8cc;
	font-weight: bold;
	transition: color 0.4s ease;
}

a:hover {
	color: black;
}


.container {
	width: 700px;
	margin: 40px auto;
}


@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}


#image-alexandre {
	border-radius: 50%;
}

#header-left {
	text-align: left;
}

.btn-blue {
	background-color: #a5a8cc;
	color: white;
	padding: 15px 20px;
	border-radius: 4px;
}

.btn-blue:hover {
	background-color: black;
	color: white;
}


.card-white {
	background-color: white;
	padding: 20px;
	box-shadow: 0px 10px 30px rgba(50, 50, 93, 0.5);
	border-radius: 4px;
	margin: 20px 0px;
}


.list-without-bullet-point {
  list-style-type:none;
  font-size: 50px;
  padding: 0px;
  margin-top: 20px;
}

.list-without-bullet-point li
{
  display:inline;
} 

#introduction {
	padding-bottom: 40px;
}

#introduction p {
	margin-bottom: 30px;
}
